.pnrsearch {
    background-color: var(--bgBlue);
    display: flex;
    flex-direction: column;
    padding: 35px 100px 50px 100px;
    /* background-image: url("./bg.jpg") ; */
    /* background: url("../../../../images/pexels-ethan-sees-2867110.jpg") no-repeat center center; */
    z-index: -1;
    margin: 1% 0%;
}

.pnr-for-flex {
    padding-top: 40px;
    display: flex;
    gap: 30px;
}

.pnr-for-flex-child-1 {
    flex: 1;
    margin: auto;
}

.pnr-for-flex-child-3 {
    flex: 3;
    margin: auto;
}

.pnrsearch {
    border: 2px solid white;
}

.flex-child h2 {
    color: rgb(187, 43, 43);

}